# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/mithaai-tipping"

# Neynar API Key
NEYNAR_API_KEY='AABFDE20-C4D6-4F9F-BD8B-2CDCBD8463A0'

# stack.so API Key
STACK_API_KEY=fd6acf53-660e-4128-9c66-9fefe0f10ebc
STACK_POINT_SYSTEM_ID=1064