@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  font-family: "SpaceGrotesk", sans-serif;
}

.noise {
  background-image: url(/noise.png);
  background-attachment: fixed;
}

.button {
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #858585;
  border-bottom: 2px solid #858585;
  border-radius: 2px;
}

.button:active {
  background-color: #c0c0c0;
  border: 2px solid #c0c0c0;
}

.button:active span {
  border: 1px dotted #000;
}

.hero-globe::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: 0;
  background: url("/icons/globe-mini.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.active-tab::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  width: 100%;
  background-color: #fffc00;
  left: 0;
}

@media (min-width: 1024px) {
  .hero-globe::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url("/icons/globe.png");
    background-size: 93% 95%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .hero-champ::before {
    position: absolute;
    content: "";
    width: 100%;
    background: url("/icons/hero-two.png");
    height: 500px;
    background-size: 95% 100%;
    z-index: 1;
  }
}
